.tickets__search {
    position: relative;
    min-height: 50px;
    border-bottom: 1px solid #DBDCDD;
}
.fa-search {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #4B545A;
}

.tickets__search input {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    padding-left: 15px;
    border: none;
}

.tickets__search input:focus-visible {
    outline: none;
}